/* Main css */

html {
	box-sizing: border-box;
	width: 100%;
	/*height: 100%;*/
}

::before, ::after {
	box-sizing: border-box;
}

/* Fonts */

/*@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');*/

@font-face {
	font-family: "Corbel";
	src: url(../font/CORBEL.TTF);
}

/*@font-face {
	font-family: "Corbel Light";
	src: url(../font/CORBEL.TTF);
}*/

@font-face {
	font-family: "Roboto Slab";
	src: url(../font/RobotoSlab-Regular.ttf);
}

@font-face {
	font-family: "Roboto Slab Light";
	src: url(../font/RobotoSlab-Light.ttf);
}

@font-face {
	font-family: "Roboto Slab Thin";
	src: url(../font/RobotoSlab-Thin.ttf);
}

@font-face {
	font-family: "Lato Light";
	src: url(../font/Lato-Light.ttf);
}

/*@font-face {
	font-family: "Cantarell Regular";
	src: url(../font/Cantarell-Regular.ttf);
}*/

/*@import url('https://fonts.googleapis.com/css?family=Cantarell&display=swap');*/

@font-face {
	font-family: 'Cantarell';
	font-style: normal;
	font-weight: 400;
	src: local('Cantarell Regular'), local('Cantarell-Regular'), url(../font/Cantarell-Regular.woff2) format('woff2');
	/*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;*/
}

/*@import url('https://fonts.googleapis.com/css?family=Palanquin:100&display=swap&subset=latin-ext');*/



@font-face {
	font-family: "Palanquin Thin";
	src: url(../font/Palanquin-Thin.ttf);
}

@font-face {
	font-family: "Raleway Regular";
	src: url(../font/Raleway-Regular.ttf);
}

@font-face {
	font-family: "Raleway Medium";
	src: url(../font/Raleway-Medium.ttf);
}

@font-face {
	font-family: "Raleway Light";
	src: url(../font/Raleway-Light.ttf);
}

/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap&subset=latin-ext');*/


/* Hyper-Link styling */

a {
	text-decoration: none;
	color: rgb(50,50,50);
}

a:visited {
	color: black;
}

a:hover {
	color: #5498ab;
}

a:active {
	color: #5498ab;
}

/* Body */

body {
	/*height: 100%;*/
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	/*line-height: 2rem;*/
	/*max-width: 1200px;*/
	font-family: "Corbel";
	/*font-family: "Cantarell", Cantarell-Regular;*/
	/*font-family: 'Palanquin Thin', sans-serif;*/
	/*font-family: "Cantarell Regular";*/
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	background-color: white;
	/*background-image: url(../img/knjige_pozadina.jpg);
	background-size: cover; 
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-origin: content-box;*/
}

body p {
	font-family: 'Palanquin Thin', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 100;
	line-height: 2rem;
}

/* Header */

header {
	/*position: sticky;*/
	position: fixed;

	top: 0;
	/*width: 100%;*/
	width: 100%;
	/*max-width: 1200px;*/

	background-color: white;

}

h3 {
	font-family: "Roboto Slab";
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Palanquin Thin', sans-serif;
}

strong {
	font-style: normal;
}

/*header::after {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../img/knjige_pozadina.jpg);
	background-size: cover; 
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-origin: content-box;
}*/

.top {
	/*width: 100%;*/
	background-color: #fff;
	display: flex;
	flex-direction: row;
	/*flex-column: auto 500px;*/
	justify-content: space-between;
	align-items: center;
	/*flex-shrink: 1;*/
	/*flex-wrap: wrap;*/
	
}

.logo {
	display: block;
	width: 140px;
	height: 80px;
	margin: 0;
	margin-top: 1rem;
	background-image: url(../img/kraft_logo.svg);
	/*background-image: url(../img/logo_1.png);*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.responsive_nav {
	width: auto;
}

/*.top > span:first-child {
	flex-grow: 2;
}*/

/* Navigation menu */

nav {
	/*display: grid;
	grid-auto-flow: column;
	align-content: center;*/
	display: inline-flex;
	align-content: center;
	margin: 1em 0 1em 1em;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	/*margin-top: 1rem;
	margin-bottom: 1rem;*/

}

nav li {
	text-decoration: none;
	list-style: none;
	font-family: "Corbel", sans-serif;
	font-size: 25px;
	line-height: 80px;
	display: inline-block;
	padding: 0 20px;

}

nav li a {
	display: inline-block;
	text-align: left;
	width: 100%;
	height: 100%;
}

nav li:hover {
	background-color: rgb(244, 247, 246);
}

#menu_icon {
	display: none;
	text-align: right;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: "Corbel", sans-serif;
	font-size: 48px;
	line-height: 80px;
	
}

#menu_icon > a {
	cursor: pointer;
}

#menu {
	display: flex;
	flex-direction: row;
}

#menu-toggle-container {
	display: none;
}

/*#menu-toggle {
	display: none;

}*/

/* CTA */

/*.background_image {
	position: absolute;
	z-index: -4;
	display: block;
	width: 100vw;
	height: 100vh;
	background-image: url(../img/knjige_pozadina.jpg);
	background-size: cover; 
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-origin: content-box;
}*/

.background_image {
	/*position: absolute;
	z-index: -4;*/
	display: block;
	width: 100%;
	/*height: 100%;*/
	padding-top: 160px;
	/*margin-top: 200px;*/
	/*width: 100vw;*/
	/*height: 100vh;*/

	/*background-image: url(../img/skola_stranih_jezika_naslovna.jpg);*/
	/*background-size: cover;*/
	/*background-position: center;*/
	/*background-attachment: fixed;*/

	background-repeat: no-repeat;
	background-origin: content-box;

	background-image: url(../img/baner_kraft_new.svg);
	background-size: 1200px;
	background-position: bottom;

}

/*.subheader {
	display: grid;
	grid-auto-flow: column;
	align-content: center;
	width: 100%;
	height: 800px;
	background-color: rgba(255,255,255,0.0);
}*/

.subheader {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin: 0;
	/*flex-grow: 1;*/
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	min-height: 800px;
	background-color: rgba(255,255,255,0.0);
}

.subheader > h1 {
	font-size: 80px;
	font-family: "Roboto Slab Light";
	margin-top: 0;
	line-height: 80px;
	max-width: 300px;
}

.srednji_tekst {
	line-height: 36px;
	font-size: 28px;
	font-family: "Roboto Slab Light";
	max-width: 480px;
	margin-top: 0;

	/*margin-left: 8.3%;
	align-self: center;*/
}

.subheader > span {
	line-height: 40px;
	font-size: 28px;
	font-family: "Corbel Regular", sans-serif;
}

.subheader > span > p {
	margin: 0;
	/*text-decoration: underline;*/
	font-family: "Corbel", sans-serif;
}


.subheader > span > a {
	text-decoration: underline;
}

.subheader > span > a > p {
	font-family: "Corbel", sans-serif;
}

/* Main content */

main {
	background-color: #fff;
	font-size: 1.5rem;

}

main article {
	margin: 5%;
}


/* GRID */

.grid {
	/*display: grid;*/
	/*grid-template-columns: 50% 50%;*/
	/*grid-auto-flow: column;*/
	justify-content: center;

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
}

/* FLEX */

.flex {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* Upis */

.upis {

}

.upis_naslov {
	display: grid;
	justify-content: center;
	flex-basis: 50%;
	margin: 1.3rem;
	margin: 0;
	padding: 1rem 0;
}

.Naslovi {
	/* display: inline-block; */
	display: inline-block;
	margin-left: 5%;
	margin-top: auto;
	margin-bottom: auto;
	font-family: "Roboto Slab";
}

.upis_tekst {
	display: grid;
	justify-content: center;
	flex-basis: 50%;
}

.upis_tekst > article > img {
	display: block;
	margin: 1rem auto;
	width: 150px;
	height: 150px;
}

.upis_polaznika {
	margin-bottom: 0;
}

.firme_i_ustanove {
	margin-top: 0;
}

/* Jezici */

.jezici_naslov {
	display: grid;
	justify-content: center;
	margin: 1.3rem;
	background-color: rgb(244, 247, 246);
}

.jezici {
	
}

.lista_jezika {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
	list-style: none;
	align-content: center;
	align-items: center;
	justify-content: center;

}

.flags {
	display: inline-block;
	width: 150px;
	height: 150px;
	text-align: center;
	align-items: center;
	vertical-align: middle;
	margin: 1em auto;

/*	border-width: 2px;
	border-style: solid;
	border-color: white;
	border-radius: 50%;
*/

	border-radius: 50%;
	-webkit-border-radius: 75px;

/*	border-style: solid;
	border-color: white;
	border-width: 2px;
*/
}

.flags > a {
	display: block;
	width: inherit;
	height: inherit;
	border-radius: 50%;
}


.jezik_naziv {
	/*margin-top: 3rem;*/
	/*display: block;
	height: 100%;
	width: 100%;*/
	color: white;
	line-height: 150px;
	background-color: rgba(84,152,171,0.5);
	border-radius: 50%;
	display: none;

	margin: 0;
	width: 100%;
	height: 100%;

	-webkit-border-radius: 75px;
}

.flags > a:hover .jezik_naziv {
	display: block;
}

/*.lista_jezika a {
	vertical-align: middle;
}
*/

/*.flags {
	display: block;
	width: 100%
	height: 100%;
	vertical-align: middle;
}
*/

/* */

#nemacki {
	background-image: url(../flags/germany-flag-square-xs.png);
	background-image: url(../flags/germany-flag-round_inkscape.svg);
	background-size: contain;
	background-repeat: no-repeat;
}	

#engleski {
	background-image: url(../flags/united-kingdom-flag-square-xs.png);
	background-image: url(../flags/united-kingdom-flag-round_inkscape.svg);
	/*background-image: url(../flags/united-kingdom-flag-round-xs.png);*/
	background-size: contain;
	background-repeat: no-repeat;
}

#francuski {
	background-image: url(../flags/france-flag-square-xs.png);
	background-image: url(../flags/france-flag-round_inkscape.svg);
	/*background-image: url(../flags/france-flag-round-xs.png);*/
	background-size: contain;
	background-repeat: no-repeat;
}

#italijanski {
	background-image: url(../flags/italy-flag-square-xs.png);
	background-image: url(../flags/italy-flag-round_inkscape.svg);
	/*background-image: url(../flags/italy-flag-round-xs.png);*/
	background-size: contain;
	background-repeat: no-repeat;
}

#spanski {
	background-image: url(../flags/spain-flag-square-xs.png);
	background-image: url(../flags/spain-flag-round_inkscape.svg);
	/*background-image: url(../flags/spain-flag-round-xs.png);*/
	background-size: contain;
	background-repeat: no-repeat;
}

#ruski {
	background-image: url(../flags/russia-flag-square-xs.png);
	background-image: url(../flags/russia-flag-round_inkscape.svg);
	/*background-image: url(../flags/russia-flag-round-xs.png);*/
	background-size: contain;
	background-repeat: no-repeat;
}

#slovenacki {
	background-image: url(../flags/slovenia-flag-square-xs.png);
	background-image: url(../flags/slovenia-flag-round_inkscape.svg);
	/*background-image: url(../flags/slovenia-flag-round_300.png);*/
	background-size: contain;
	background-repeat: no-repeat;
}

#norveski {
	background-image: url(../flags/norway-flag-square-xs.png);
	background-image: url(../flags/norway-flag-round_inkscape.svg);
	/*background-image: url(../flags/norway-flag-round-xs.png);*/
	background-size: contain;
	background-repeat: no-repeat;
}

/* */

/*#nemacki {
	background: url(../img/germany.png);
}

#engleski {
	background: url(../img/uk.png);
}

#francuski {
	background: url(../img/france.png);
}

#italijanski {
	background: url(../img/italy.png);
}

#spanski {
	background: url(../img/spain.png);
}

#ruski {
	background: url(../img/russia.png);
}

#slovenacki {
	background: url(../img/slovenia.png);
}

#norveski {
	background: url(../img/norway.png);
}*/

/* O Školi */

.skola {
	
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 1fr;
}

.skola > article {
	margin: 1.3rem;
	min-height: 600px;
}

.skola > article:first-child {
	background: linear-gradient(to bottom, rgba(84,152,171,1) 60%, rgba(84,152,171,0)), url(../img/stock-photo-2.png);
	
	background-size: contain;
	background-position: bottom;
	
	background-repeat: no-repeat;
	background-origin: content-box;

	color: white;

	/*min-height: 600px;*/
}

.skola > article:nth-child(2) {
	background-color: #f7f9f8;
}

.skola > article:nth-child(3) {
	background-color: #dae8eb;
}

.skola > article:nth-child(4) {
	background-color: #99a099;
}

.skola > article > img {
	display: block;
	margin: 5rem auto 1em auto;
	width: 150px;
	
}

.skola > article > p {
	font-size: 1em;
	margin: 0 5rem 2rem 5rem;
	/*margin-left: 5rem;
	margin-right: 5rem;*/
}

.skola article h2 {
	display: inline-block;
	margin: 2rem 5rem;
	font-family: "Roboto Slab";
}

/*.skola article {
	width: 600px;
	height: 500px;
}*/

/* Kursevi */

.kursevi {
	display: grid;
	grid-template-columns: 20% 40% 40%;

}

.kursevi > span {
	background-color: #f5f7f6;
	margin: 1.3rem;
	display: grid;
	vertical-align: middle;
	justify-content: center;
	align-content: center;
	

}

.kursevi > span > h2 {
	background-color: #f5f7f6;
	margin: 1.3rem;
	
	align-self: center;

	margin: auto 0;
	height: 100%;
}

.kursevi_tekst {
	/*margin-top: 0;*/
}

.kursevi_tekst img {
	display: block;
	margin: 1rem auto;
	width: 150px;
	height: 150px;
}

/*  **FOOTER**  */

.footer {
	background-color: #fff;
}


/*.kontakt_info {
	text-align: center;
	background-color: #f5f7f6;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	flex-basis: 50%, 50%;
	flex-shrink: 1;
}*/

.kontakt {
	margin-top: 1.3rem;
}

.kontakt > h2 {
	display: inline-block;
	text-align: center;
	color: #fff;
	width: 100%;
	/*height: 100%;*/
	margin: 0;
	padding: 1em 0;
	background-color: #5498ab;
	font-family: "Roboto Slab";

}

.kontakt_info {
	text-align: center;
	background-color: #f5f7f6;
	display: grid;
	
	grid-template-columns: 50% 50%;
	/*grid-template-rows: 50% 50%;*/
	
	/*grid-auto-rows: 1fr;*/
	
	justify-content: center;
	justify-items: end;
	
}

/*.kontakt_info > address {
	display: inline-flex;
	flex-flow: column;
	justify-content: center;
}
*/

address {
	display: inline-block;
	max-width: 600px;
	font-style: normal;
	margin: 1.3rem 7rem;
	font-family: Corbel;
}

address > em {
	font-style: normal;
}

.kontakt_info strong {
	font-size: 3em;
	font-weight: lighter;
	display: inline-block;
	height: 1em;
}

.kontakt_info > address > em > b {
	width: 50%;
	display: inline-block;
	font-size: initial;
}

.kontakt_info > address > img {
	display: block;
	margin: .5em auto;
	height: 60px;
	width: 60px;
}

.kontakt_info > address > em > p {
	font-size: 1rem;
	font-weight: normal;
}

.kontakt_info p {
	font-size: 1em;
	margin: 0;
}

.kontakt_info address h3 {
	font-size: 1.5rem;
	margin-top: 2rem;
	margin-bottom: .5rem;
}

.gmap {
	display: block;
	width: 100%;
	height: 100%;

	/*overflow: hidden;
	background: none !important;
	height: 500px;
	width: 600px;*/

	/*background-image: url(../img/mapa_velika.png);
	background-size: cover; 
	background-position: center;
	
	background-repeat: no-repeat;
	background-origin: content-box;*/
}

.gmap > iframe {
	height: 100%; 
	width: 100%;
	min-height: 500px;
}

/*.gmap > img {
	height: 100%;
	max-width: auto;
}
*/
/*.social_links {
	max-width: 600px;
}
*/

/* Soc Links */

.social_links {
	width: 100%;
	display: inline-flex;
	align-content: center;
	justify-content: center;
}

.social_links a {
	
	margin: 2em 1rem;
}

.social_links img {
	width: 60px;
	height: 60px;
}

.footer {
	background-color: white;
	text-align: right;

}

.footer > small {
	font-size: 1rem;
	margin: .5em;
}

/* responsive */

@media only screen and (max-width: 768px) {

	.top {
		display: flex;
		flex-direction: column;
	}

	.grid {
		display: block;
	}

	.skola {
		display: block;
	}

	.kursevi {
		display: block;
	}

	.kontakt_info {
		display: block;
	}

	#menu_icon {
		display: block;
		/*flex-direction: column;*/
		/*flex-flow: column;*/
		width: 100%;

		/*justify-content: center;*/
		margin: 0;
		padding: 0;
	}

	.btn {
		
		width: 1em;
		text-align: center;
		margin: 1rem;
	}

	#closebtn {
		display: none;
	}

	#openbtn {
		display: inline-block;
	}

	.responsive_logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		
	}

	.logo {
		display: block;
		width: 80px;
		height: 80px;
		margin: 1rem;
		/*margin-top: 1rem;
		margin-left: 1rem;*/
		/*content: "kraft";*/
		background-image: url(../img/kraft_logo_mobile.svg);
		/*background-image: url(../img/kraft-logo-text.png);*/
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
	}

	/*.rensposive_logo > span {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
	}
	*/

	.responsive_nav {
		width: 100%;
		height: 100%;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		background-color: white;
	}

	nav {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	#menu {
		display: none;
		flex-direction: column;
		/*justify-content: center;*/
		/*align-items: center;*/
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		
	}

	#menu > li {
		/*font-variant: small-caps;*/
		font-size: 30px;
	}

	#menu > li > a {
		text-align: center;
	}

	.subheader {
		/* flex-flow: row; */
		justify-content: flex-start;
		align-items: flex-start;
		/* height: 100vh; */
		flex-flow: column;
	}

	.background_image {
		/* margin-top: 200px; */
		padding-top: 120px;
		/*margin-top: 120px;*/
		height: 750px;
		background-size: 100%;
	}

	.subheader > h1 {
		/* margin-top: 0; */
		margin: 0 auto 1.5rem 1.3rem;
		font-size: 72px;
		line-height: 72px;
	}

	.subheader > span {
		margin: 2rem 1.3rem;
		line-height: 40px;
		font-size: 28px;
		/*font-family: "Corbel Regular", sans-serif;*/
	}

	.srednji_tekst {
		/* margin-top: 0; */
		margin: 0 1.3rem 1.5rem 1.3rem;
		line-height: 36px;
		font-size: 24px;
	}

	.upis_naslov {
		/* margin: 1.3rem; */
		margin: 0;
		padding: 1rem 0;
	}

	.jezici_naslov {
		/* margin: 1.3rem; */
		margin: 0;
		padding: 1rem 0;
	}

	.upis_tekst > article > img {
		margin-top: 0;
	}

	.kursevi > span {
		/* margin: 1.3rem; */
		/* justify-content: center; */
		/* align-content: center; */
		margin: 1.3rem auto;
		padding: 1rem 0;
		width: 100%;
		display: inline-block;
	}

	.kursevi > span > h2 {
		/* margin: 1.3rem; */
		/* align-self: center; */
		margin: 1.3rem auto;
		width: inherit;
		align-content: ;
		text-align: center;
	}

	.Naslovi {
		/* margin-left: 5%; */
		/* margin-top: auto; */
		/* margin-bottom: auto; */
	}

	.skola > article {
		/* margin: 1.3rem; */
		margin: 1.3rem 0;
		padding: 1.5rem 0;
	}

	.skola article h2 {
		/* margin-left: 2rem; */
		margin-left: 1.3rem;
	}

	.skola > article > p {
		/* margin: 0 5rem 2rem 5rem; */
		margin: 0 1.3rem 3rem 1.3rem;
	}

	.kontakt_info > address {
		margin: 1.3rem;
	}


	/*#menu-toggle-container {
		display: block;
	}*/

	/*nav {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0;
		
	}*/

	/*nav > span:nth-child(2) {
		justify-content: center;
	}*/

	
	/* #meni {
		display: inline-block;
		width: 100%;
		/*overflow: visible;*/
	/*} */ 

	/*#menu {
		display: none;
	}*/

	/* menu label */

	/*label {
		cursor: pointer;
	}*/

	/*#menu-toggle {
		display: inline-block;
		right: 0;
	}
	*/
	
/*	input[type=checkbox]:checked #menu {

		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: space-around;
		align-items: center;
		
		top: 100px;
		background-color: white;
		width: 100px;
		height: 100px;
		position: absolute;
		width: 100vw;
		height: 100vh;
	}
*/
	 

	/*#menu-toggle:checked #menu {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-content: space-around;
		align-items: center;
		position: absolute;
		top: 100px;
		background-color: white;
		width: 100vw;
		height: 100vh;
	}*/

	/*#menu-toggle:checked nav {
		display: block;
		position: absolute;
		background-color: white;
		width: 100vw;
		height: 100vh;
	}*/

	/*.flex {
		display: flex;
		flex-direction: column;
	}*/

	/*.grid {
		display: grid;
		grid-template-rows: auto 100%;
		grid-auto-flow: row;
	}*/

	
}

/*@media only screen and (width: 800px) {
	.flex {
		display: flex;
		flex-direction: column;
	}
}*/


/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {...}
*/
/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {...}
*/
/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {...}
*/
/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {...}
*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/*@media only screen and (min-width: 1200px) {...} 
*/
